/* how to open up dev tools designing */
.vscl {
  text-align: left;
  font-size: 15px;
  font-family: monospace;
  color: black;
}

/* image designs */
.wsj {
  align-items: center;
  font-family: sans-serif;
  font-size: 10px;

}

.wsjc {
  align-items: center;
  font-family: sans-serif;
  font-size: 10px;
}

/* page titles */
.uses {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  background-color: aliceblue;
  padding: 5px 5px 5px 5px;
}

.backing {
  background-color: #E2E2E2;
}
