
/* css */

/* header background and design */
.header {
  color: white;
  text-align: center;
  background-color: #5DB2D7;
  background-image: linear-gradient(130deg, #5DB2D7, #F38484);
  padding: 40px 60px 40px 60px;
  font-size: 35px;
}

/* navigation menu */
.nav {
  text-align: center;
  font-family: sans-serif;
  color: white;
  background-color: #C3C3C3;
  background-image: repeating-linear-gradient(110deg, #C3C3C3, #F2F2F2);
  float: none;
  font-size: 22px;
  padding: 5px 7px 5px 7px;
}

/* nav buttons design */
.navt {
  display: inline;
  background-color: #C3C3C3;
  background-image: repeating-linear-gradient(110deg, #C3C3C3, #F2F2F2);
  padding: 12px;
}

li a:hover {
  background-color: #F5C2C2;
}

/* home page */
.p1 {
  text-align: left;
  font-family: sans-serif;
}

.backing {
  background-color: #E2E2E2;
}

/* table */
table, td {
  border: 1px solid black;
  text-align: left;
  font-family: monospace;
}
